@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    font-family: "Inter",;
}

.blue_border{
    border: 1px solid #2B6CB0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0); /* Light transparent blue */
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
  }

  .salarySpan::selection {
    color: black; /* Text color */
    background-color: transparent; /* Background color (optional) */
  }
