:root {
  --primary-color: #f3f3f3;
  --checked-color: #fff;
  --primary: #6c63ff;
  --primary-hover: #534cc2;
  --primary-border: #6c63ff;
  --color: #000;
  --Background: #fff;
  --PopupBackground: rgba(0, 0, 0, 0.687);
  --secondary-color: #333;
  --placeholder: #c3c1e5;
}

.dark-mode {
  --primary-color: #fff;
  --primary: #6c63ff;
  --primary-hover: #534cc2;
  --primary-border: #fff;
  --checked-color: #1e1f20;
  --color: #fff;
  --Background: #1e1f20;
  --PopupBackground: rgba(0, 0, 0, 0);
  --secondary-color: #f3f3f3;
  --placeholder: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Background);
}

.container {
  width: 100%;
  max-width: 840px;
  height: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  margin-bottom: 40px;
  color: var(--color);
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-bar {
  width: 90%;
  max-width: 595px;
  height: fit-content;
  position: relative;
}

.search-bar svg {
  position: absolute;
  right: 2.5%;
  top: 25%;
}

.search-bar svg path {
  fill: var(--primary-border);
}

.search input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--Background);
  border: 1.5px solid var(--primary-border);
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
}

.search input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
}

#filter {
  max-width: 95px;
  text-align: center;
  border: none;
  color: var(--primary-color);
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.chosed {
  padding: 10px 40px;
  background: var(--primary);
  border-radius: 5px;
  border: 2px solid var(--primary);
}

.chosed:hover {
  background: var(--primary-hover);
}

.options {
  border: 1.5px solid var(--primary);
  border-radius: 5px;
  overflow: hidden;
}

.options:hover {
  background: #6C63FF33 ;
}

#filter .option:not(.chosed) {
  padding: 3px 0;
  background: #fff;
  color: var(--primary);
  padding: 0 important;
}



#filter .option:not(.chosed):hover {
  background: #f2f2fa00 !important;
}

#mode {
  width: 45px;
  background: var(--primary);
  border: none;
  border-radius: 5px;
}

#mode:hover {
  background: var(--primary-hover);
}

#mode svg {
  width: 60%;
  height: 100%;
  fill: var(--primary-color);
}

.lists {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

#list {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.list-item {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--primary);
  position: relative;
}

#list .list-item:last-child {
  border-bottom: none;
}

.list-item button {
  width: 26px;
  height: 26px;
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--checked-color);
  cursor: pointer;
  position: relative;
}

.text {
  width: 100%;
  max-width: 500px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color);
}

.checkbox.checked {
  color: var(--primary-color) !important;
  background-color: var(--primary) !important;
  font-size: large;
}

.detective {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  color: var(--color);
}

.add-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: var(--primary);
  border-radius: 100%;
  color: var(--primary-color);
  font-size: 45px;
  position: absolute;
  bottom: 40px;
  right: 45px;
}

.add-btn:hover {
  background: var(--primary-hover);
  cursor: pointer;
}

.menu-group {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: -40px;
  top: 0;
}

.list-delete-btn,
.list-edit-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  cursor: pointer;
}

.list-delete-btn svg,
.list-edit-btn svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-color);
}

.list-edit-btn:first-child svg:hover path {
  stroke: var(--primary);
}

.list-delete-btn svg:hover path {
  stroke: red;
}

.note-popup {
  width: 100%;
  height: 100%;
  background: var(--PopupBackground);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 100;
}

.note-popup-content {
  width: 100%;
  max-width: 500px;
  padding: 20px 30px;
  margin-top: 150px;
  background: var(--Background);
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.note-popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
}

.note-popup-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-popup-body input {
  width: 99%;
  padding: 10px;
  background-color: var(--Background);
  border: none;
  border: 1.5px solid var(--primary-border);
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  margin-bottom: 80px;
}

.note-popup-body input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
}

.note-popup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-popup-footer button {
  padding: 9px 20px;
  border: none;
  background: var(--primary);
  color: var(--primary-color);
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.close-btn {
  background: var(--Background) !important;
  border: 1.5px solid var(--primary) !important;
  color: var(--primary) !important;
}

.close-btn:hover {
  background: var(--primary) !important;
  color: var(--primary-color) !important;
}

.add-note-btn:hover {
  background: var(--primary-hover);
}

.hide {
  display: none !important;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
