@import "tailwindcss";


.gradient-text {
  background-image: linear-gradient(to right, #3f5efb, #fc466b); /* Adjust colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}